<header>
    <div class="header__menu">
        <img src="https://img.icons8.com/ios-filled/50/menu--v1.png" alt="menu--v1" />
    </div>

    <div class="header-logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 255.23 21.96">
            <title>Jones Road</title>
            <desc>Jones Road logo</desc>
            <!-- PATHS REMAIN UNCHANGED -->
            <path d="M0,20.26V14a5.08,5.08,0,0,0,3.19,1c2.3,0,3.73-1.18,3.73-3.5V.71h9.87V13.27c0,6.08-4.1,8.69-10,8.69C3.43,22,1,21.08,0,20.26"></path>
            <path d="M34.21,0c-9.32,0-14.9,4.46-14.9,10.81C19.31,16.94,24.89,22,34.18,22s14.88-5,14.88-11.15C49.06,4.46,43.47,0,34.21,0Zm0,15A3.9,3.9,0,0,1,30,10.89C30,8.52,31.6,7,34.18,7s4.22,1.5,4.22,3.87A3.9,3.9,0,0,1,34.18,15Z"></path>
            <polygon points="77.78 0.7 77.78 21.26 65.89 21.26 60 9.92 60 21.26 51.62 21.26 51.62 0.7 63.73 0.7 69.44 11.95 69.44 0.7 77.78 0.7"></polygon>
            <polygon points="102.69 15.18 102.69 21.26 81.56 21.26 81.56 0.7 102.63 0.7 102.63 6.78 91.43 6.78 91.43 8.6 102.14 8.6 102.14 13.18 91.43 13.18 91.43 15.18 102.69 15.18"></polygon>
            <path d="M105.44,19.09V13.15a20,20,0,0,0,10.14,2.77c1.94,0,2.76-.3,2.76-1s-.48-.94-2-1.15l-2.91-.41c-5.5-.76-8.23-2.79-8.23-6.34,0-4,3.79-7,12.41-7,5.32,0,8.44,1.17,10.08,2V7.84a19.46,19.46,0,0,0-8.5-1.76c-2.64,0-3.34.38-3.34,1,0,.47.31.76,2.13.94l3.13.35c5.1.56,8,2.23,8,6,0,4.64-5,7.48-12.14,7.48a22.5,22.5,0,0,1-11.48-2.84"></path>
            <path d="M153.07,10.92c1.88,0,2.92-.79,2.92-2.2s-1-2.05-2.83-2.05h-3.28v4.25Zm2,10.34-5.16-8.11v8.11H140V.71H157.5c5.34,0,8.68,2.7,8.68,7.07a6.14,6.14,0,0,1-5.1,6.31l5.19,7.17Z"></path>
            <path d="M183.05,0c-9.32,0-14.91,4.46-14.91,10.81C168.14,16.94,173.73,22,183,22s14.88-5,14.88-11.15C197.89,4.46,192.3,0,183.05,0Zm0,15a3.89,3.89,0,0,1-4.21-4.06C178.8,8.52,180.43,7,183,7s4.22,1.5,4.22,3.87A3.9,3.9,0,0,1,183,15Z"></path>
            <path d="M214.06,13.51l-2.15-7.34-2.19,7.34Zm1.37,4.64h-7.07l-.91,3.11h-9.66l7-20.56h14.6l6.92,20.56h-9.93Z"></path>
            <path d="M241.11.7H228V21.26h12.2c10.59,0,15-5.05,15-10.42C255.23,5.05,250.61.7,241.11.7Zm-1.06,14.51h-2.16V6.75h2.52c3,0,4.19,1.8,4.19,4.06C244.6,13.42,243.08,15.21,240.05,15.21Z"></path>
        </svg>
    </div>

    {% assign menu = linklists.main-menu %}

    {% if menu.links.size > 0 %}
    <ul class="header__links">
        {% for link in menu.links %}
        <li class="header__link-item">
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% if link.links.size > 0 %}
            <ul class="header__child-links">
                {% for link in link.links %}
                <li>
                    <a href="{{ link.url }}">{{ link.title }}</a>
                    {% if link.links.size > 0 %}
                    <ul class="header__grandchild-links">
                        {% for link in link.links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="header__right-section">
        <div class="header__search">
            <svg width="24" height="24" version="1.1" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg">
                <path d="m619.68 500.32-108.5-108.5c37.102-49.582 54.047-111.38 47.418-172.95-6.625-61.574-36.332-118.35-83.137-158.9-46.809-40.551-107.24-61.867-169.12-59.652-61.891 2.2109-120.64 27.789-164.43 71.578-43.789 43.789-69.367 102.54-71.578 164.43-2.2148 61.887 19.102 122.32 59.652 169.12 40.551 46.805 97.324 76.512 158.9 83.137 61.574 6.6289 123.37-10.316 172.95-47.418l108.5 108.5c8.8164 8.8164 21.664 12.258 33.707 9.0312 12.043-3.2266 21.449-12.633 24.676-24.676 3.2266-12.043-0.21484-24.891-9.0312-33.707zm-304.68-80.324c-46.414 0-90.926-18.438-123.74-51.258-32.82-32.816-51.258-77.328-51.258-123.74s18.438-90.926 51.258-123.74c32.816-32.82 77.328-51.258 123.74-51.258s90.926 18.438 123.74 51.258c32.82 32.816 51.258 77.328 51.258 123.74-0.078125 46.391-18.539 90.855-51.34 123.66-32.805 32.801-77.27 51.262-123.66 51.34z"></path>
            </svg>
            <form class="header__search-form" action="{{ routes.search_url }}">
                <input type="text" placeholder="Enter Search" name="q" value="{{ search.terms | escape }}">
            </form>
        </div>

        <a href="/cart" class="header__cart">Bag</a>
    </div>
</header>

<script>
    const searchForm = document.querySelector('.header__search-form');
    document.querySelector('.header__search').addEventListener("click", () => {
      searchForm.style.display = "block";
    })
</script>

<style>
    .header__search-form {
        display: none;
        position: absolute;
        top: -50%;
        right: calc(100% - 2rem);
        border-bottom: 1px solid #000;
      }
      
      .header__search-form input {
        padding: .5rem 1rem;
        border: 0;
        background: transparent;
        outline: 0;
    }


    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        border-bottom: 1px solid lightgray;
        gap: 1rem;
        z-index: 2;
    }

    .header__menu {
        display: none;
        min-width: 30px;
        max-width: 30px;
    }

    .header-logo {
        min-width: 250px;
    }

    .header__links {
        display: flex;
        list-style: none;
        font-size: 0.85rem;
        position: relative;
    }

    .header__link-item {
        padding: 2rem;
        position: relative;
        text-underline-offset: 10px;
    }

    .header__link-item>a:hover {
        text-decoration: underline;
    }

    .header__cart {
        font-size: 0.85rem;
        position: relative;
    }

    .header__cart::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 40px;
        width: 20px;
        height: 20px;
        background: #000;
        border-radius: 50%;
        transform: translateY(-50%);
    }

    .header__child-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        min-width: 100%;
        padding: 2rem;
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.15) 0 1.95px 2.6px;
        gap: 2rem;
        border-top: 1px solid lightgray;
        z-index: 1;
    }

    .header__link-item:hover .header__child-links {
        display: flex;
    }

    .header__child-links>li {
        white-space: nowrap;
        font-weight: 600;
    }

    .header__grandchild-links {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        gap: 1rem;
        padding-right: 2rem;
    }

    .header__grandchild-links>li {
        white-space: nowrap;
        font-weight: 400;
    }

    .header__right-section {
        display: flex;
        align-items: center;
        gap: 3rem;
        width: 250px;
    }

    .header__search {
        position: relative;
        margin-left: auto;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    @media (max-width: 768px) {
        header {
            padding: 2rem 1rem;
        }

        .header__menu {
            display: block;
        }

        .header__links {
            display: none;
        }

        .header-logo {
            min-width: 180px;
            justify-self: flex-start;
        }

        .header__cart {
            width: auto;
        }
    }
</style>
