<script src="{{ 'product.js' |  asset_url }}"></script>

<section>
    <div class="sub-section">
        <div class="product-images-carousel">
            {% for image in product.images %}
            <div class="preview-image-container">
                <img src="{{ image |  image_url: width: 300  }}" alt="{{ image.alt }}">
            </div>
            {% endfor %}
        </div>

        <div class="main-product-image">
            <div class="main-image-container">
                <img />
            </div>
        </div>
    </div>

    <div class="product-details">
        <h2>{{ product.title }}</h2>
        <div class="ratings">
            <p>{{ product.metafields.custom.product_rating.value }} out of 5.0</p>
            <p class="product__reviews">(76 Reviews)</p>
        </div>
        {% form 'product', product %}
        {% if product.variants.size > 1 %}
        <div class="product__variant-select-container">
            <select name="id" class="product__variant-select">
                {% for variant in product.variants %}
                <option data-price="{{ variant.price |  money_without_currency }}" value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %}selected{% assign variant_price = variant.price | money %}{% endif %}>
                    {{ variant.title }}
                </option>
                {% endfor %}
            </select>
        </div>
        {% else %}
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
        {% endif %}
        <button type="submit"><span>ADD TO CART</span><span class="product__price">${{ product.selected_or_first_available_variant.price |  money_without_currency }}</span></button>
        <script type="application/json" id="product__variants-json">
        {{ product.variants |  json }}
        </script>
        {% endform %}
        <ul>
            <li>
                <div class="star-icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none">
                        <path d="M8.66157 2.00354C6.71158 2.00354 4.8783 2.6118 3.56651 3.49431C3.47745 3.55411 3.44658 3.67715 3.50156 3.77209L5.08407 6.53919C5.14258 6.63763 5.26604 6.67281 5.36218 6.61304C6.35791 5.99774 7.49769 5.67777 8.66157 5.68481C11.796 5.68481 14.0997 7.94913 14.0997 10.9413C14.0997 13.4904 12.2561 15.3785 9.91805 15.3785C8.01275 15.3785 6.691 14.2428 6.691 12.6395C6.691 11.7218 7.072 10.9694 8.0642 10.4385C8.16708 10.3822 8.20502 10.2521 8.14329 10.1501L6.64985 7.56236C6.60162 7.47799 6.49874 7.43932 6.40582 7.47446C4.40438 8.23393 3 10.0622 3 12.5165C3 16.2294 5.88753 19 9.91484 19C14.6183 19 18 15.6633 18 10.878C18 5.74808 14.0656 2 8.65482 2L8.66157 2.00354Z" fill="black"></path>
                    </svg>
                </div>Pay over time for orders over $35.00
            </li>
            <li>
                <div class="star-icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.16667 9.16667V10H10.8333V4.16667H2.5V3.33333C2.5 2.87333 2.87333 2.5 3.33333 2.5H11.6667C12.1267 2.5 12.5 2.87333 12.5 3.33333V5H16.3892C17.32 5 17.7225 5.48 18.0025 5.9225C18.4975 6.70583 19.2825 7.94917 19.76 8.7375C19.9167 8.9975 20 9.29583 20 9.6V13.3333C20 14.2408 19.3808 15 18.3333 15H17.5C17.5 16.38 16.38 17.5 15 17.5C13.62 17.5 12.5 16.38 12.5 15H9.16667C9.16667 16.38 8.04667 17.5 6.66667 17.5C5.28667 17.5 4.16667 16.38 4.16667 15H3.33333C2.87333 15 2.5 14.6267 2.5 14.1667V9.16667H0.833333V7.5H6.66667V9.16667H4.16667ZM6.66667 14C7.21833 14 7.66667 14.4483 7.66667 15C7.66667 15.5517 7.21833 16 6.66667 16C6.115 16 5.66667 15.5517 5.66667 15C5.66667 14.4483 6.115 14 6.66667 14ZM15 14C15.5517 14 16 14.4483 16 15C16 15.5517 15.5517 16 15 16C14.4483 16 14 15.5517 14 15C14 14.4483 14.4483 14 15 14ZM12.5 11.6667H4.16667V13.3333H4.80417C5.26167 12.8217 5.92667 12.5 6.66667 12.5C7.40667 12.5 8.07167 12.8217 8.52917 13.3333H13.1375C13.595 12.8217 14.26 12.5 15 12.5C15.74 12.5 16.405 12.8217 16.8625 13.3333H18.3333V9.52083L16.9075 7.08C16.7583 6.82417 16.4842 6.66667 16.1883 6.66667H12.5V11.6667ZM13.3333 7.5V10H17.5L16.3108 7.92C16.1625 7.66 15.8867 7.5 15.5875 7.5H13.3333ZM0 5H6.66667V6.66667H0V5Z" fill="black"></path>
                    </svg>
                </div>Free shipping on US orders over $85
            </li>
            <li>
                <div class="star-icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewbox="0 0 22 22" fill="none">
                        <path d="M11.1445 4.83667L16.2314 7.25952L16.2256 7.2439L16.7861 7.52417L16.8125 7.53687H16.8115L16.8154 7.53882H16.8174L16.707 7.76245L16.9385 7.67358L17.04 7.93433L17.0605 7.98804L17.0566 8.04468C17.0077 8.73225 17.0187 9.4525 17.043 10.1873L17.0957 11.6658C17.1135 12.2824 17.1188 12.8976 17.083 13.4929L17.0557 13.8474C17.0453 13.9601 17.0257 14.0749 16.958 14.1804C16.893 14.2815 16.7998 14.3486 16.7178 14.4041L16.7002 14.4158L16.6807 14.4246C15.8877 14.787 15.1039 15.1728 14.3174 15.5613C13.9246 15.7553 13.531 15.95 13.1357 16.1423L11.9443 16.7097C11.9045 16.7281 11.8427 16.7585 11.7637 16.7966C11.6868 16.8337 11.597 16.8763 11.5078 16.9167C11.4194 16.9569 11.3271 16.9965 11.2461 17.0261C11.2057 17.0409 11.1642 17.0551 11.125 17.0652C11.0908 17.0739 11.0383 17.084 10.9834 17.0818V17.0828C10.9364 17.0809 10.8921 17.0686 10.8643 17.0603C10.8317 17.0506 10.7967 17.0384 10.7627 17.0251C10.6942 16.9985 10.6157 16.9633 10.54 16.9285C10.4638 16.8934 10.3868 16.8565 10.3213 16.825C10.254 16.7925 10.2014 16.7676 10.1689 16.7527V16.7517C9.03113 16.2324 7.84747 15.6681 6.69922 15.1003L5.56543 14.533C5.53198 14.516 5.50022 14.5013 5.46875 14.4861C5.43808 14.4713 5.4054 14.4559 5.375 14.4402C5.31509 14.4092 5.24722 14.369 5.18555 14.3123C5.08088 14.2158 5.02391 14.0973 4.99414 13.9548L4.97266 13.8054C4.8865 12.8817 4.92061 11.8963 4.95801 10.9265C4.99566 9.95015 5.03704 8.9898 4.97266 8.08862L4.97168 8.08374C4.95864 7.84134 5.08229 7.64353 5.25977 7.52417L5.27441 7.5144L5.29102 7.50562L10.7461 4.87378L10.7744 4.86011L10.8057 4.85425L10.9844 4.81714L11.0674 4.79956L11.1445 4.83667ZM6.07617 13.5554L10.4609 15.655V10.9792L6.07617 8.87964V13.5554ZM11.5645 10.9792V15.655L15.9492 13.5554V8.87964L11.5645 10.9792ZM9.58398 9.31519C9.77259 9.40533 9.9563 9.49958 10.1338 9.5896C10.4478 9.74885 10.748 9.89158 11.0557 9.99097L15.2285 7.99585L13.7285 7.31714L9.58398 9.31519ZM6.83594 8.00366L8.30078 8.69604L12.4678 6.65015L11.0312 5.97534L11.0088 5.97437L6.83594 8.00366Z" fill="black" stroke="black" stroke-width="0.508504"></path>
                        <path d="M19.9727 6.73059C20.1223 6.73467 20.244 6.80412 20.333 6.88977C20.4296 6.98282 20.4989 7.10423 20.5498 7.21399C20.5994 7.32082 20.6414 7.44161 20.6758 7.54993L20.7559 7.81165V7.81262L20.8389 8.08118C22.4696 13.642 19.152 19.5402 13.5459 20.9415L13.2734 21.006C9.82411 21.7682 6.36422 20.7439 3.84961 18.3575L3.68066 19.9298L3.67871 19.9523L3.67188 19.9738C3.62891 20.1214 3.54279 20.2413 3.42188 20.3156C3.30258 20.3888 3.16504 20.4075 3.03906 20.382C2.78123 20.3294 2.57962 20.0961 2.58789 19.7814L2.60742 19.4327C2.63609 19.081 2.68888 18.7227 2.74121 18.3741C2.8119 17.9034 2.88148 17.4489 2.89746 17.0167L2.89844 16.9816L2.91016 16.9464L2.9668 16.8136C2.98967 16.7718 3.01652 16.7326 3.04883 16.6974C3.11581 16.6245 3.19512 16.5794 3.27734 16.5538C3.35527 16.5297 3.43294 16.5242 3.49707 16.5236C3.55893 16.523 3.62847 16.5272 3.68359 16.5294H3.68457L4.17383 16.5626C4.68727 16.6085 5.25308 16.6857 5.70508 16.7433L5.85449 16.7589C5.91388 16.7647 5.98162 16.772 6.04883 16.7804C6.1158 16.7888 6.18704 16.7995 6.25195 16.8136C6.28205 16.8201 6.31613 16.8279 6.35059 16.839L6.45215 16.882L6.53613 16.9366C6.71432 17.0749 6.77847 17.2868 6.73145 17.4835C6.68076 17.6955 6.50506 17.8741 6.26367 17.9181L6.22754 17.9249L6.19141 17.921L4.86816 17.7833C6.27136 19.062 8.5027 20.0048 10.3252 20.1085L10.626 20.1212C16.8314 20.2895 21.365 14.6807 19.8379 8.63586L19.7588 8.3429C19.7418 8.28358 19.7029 8.18807 19.6475 8.04602C19.5961 7.91455 19.536 7.75566 19.4961 7.60071C19.4584 7.45427 19.4273 7.27141 19.4668 7.10754C19.4881 7.01917 19.532 6.92597 19.6152 6.85266C19.6987 6.7792 19.8011 6.74317 19.9062 6.73254L19.9727 6.73059Z" fill="black" stroke="black" stroke-width="0.508504"></path>
                        <path d="M7.42383 1.38672C11.1759 0.00510053 15.324 0.901149 18.1768 3.65625L18.3438 2.0498L18.3457 2.03027L18.3506 2.01172C18.4257 1.72166 18.7105 1.57428 18.9639 1.61328C19.0981 1.634 19.2268 1.70573 19.3164 1.83105C19.4043 1.95421 19.4416 2.11078 19.4365 2.28418L19.4375 2.28516C19.4238 2.73981 19.3537 3.21469 19.2861 3.67285C19.2348 4.02109 19.1854 4.36042 19.1572 4.68848L19.1367 5.01172L19.1357 5.04004L19.1289 5.06641C19.0994 5.18117 19.0297 5.28158 18.9502 5.35352C18.8717 5.42451 18.7561 5.49213 18.6182 5.49707L18.5957 5.49805L18.5742 5.49512C18.1659 5.43899 17.7521 5.40344 17.3311 5.36719C16.9124 5.33114 16.4862 5.29395 16.0635 5.23535H16.0625C16.0151 5.22861 15.9187 5.21683 15.834 5.20215C15.7579 5.18895 15.6396 5.1656 15.5518 5.11621H15.5508C15.3135 4.98177 15.2521 4.7256 15.2998 4.52246C15.3473 4.32058 15.5132 4.12086 15.7773 4.09375L15.8018 4.0918L15.8271 4.09375L17.1338 4.2168C14.1179 1.45528 9.53355 1.0919 6.06934 3.31934L5.71875 3.55566C2.4222 5.89705 1.16996 9.92292 2.30957 13.8047L2.39746 14.0273C2.43807 14.1261 2.48664 14.2482 2.51953 14.3701C2.55086 14.4863 2.57785 14.6355 2.54688 14.7783C2.53033 14.8544 2.49657 14.9344 2.43457 15.0029C2.38784 15.0546 2.33139 15.0931 2.26953 15.1201L2.20508 15.1436C2.05578 15.1881 1.90829 15.1821 1.77637 15.1162C1.65199 15.054 1.57035 14.9524 1.51562 14.8604C1.46061 14.7677 1.4213 14.6651 1.3916 14.5781L1.31543 14.3457C-0.488629 9.28922 2.14616 3.55501 7.0459 1.53418L7.42383 1.38672Z" fill="black" stroke="black" stroke-width="0.508504"></path>
                        <path d="M7.49414 10.5759L7.53027 10.5818L7.56348 10.5984L9.36035 11.4871L9.39355 11.5027L9.4209 11.5281C9.56097 11.658 9.56869 11.8448 9.55566 11.9558C9.54231 12.0691 9.49444 12.2108 9.39551 12.3074L9.39648 12.3083V12.3093L9.39062 12.3152L9.38965 12.3142C9.27866 12.4184 9.13176 12.4366 9.0459 12.4392C8.94805 12.4422 8.8503 12.4278 8.77832 12.4089V12.408C8.73888 12.3976 8.68465 12.3751 8.64062 12.3562C8.58789 12.3335 8.52165 12.3036 8.44727 12.2693C8.29816 12.2005 8.11126 12.1115 7.92578 12.0212C7.74044 11.931 7.55478 11.839 7.40723 11.7634C7.33357 11.7257 7.26819 11.6917 7.2168 11.6638L7.08984 11.5886C6.84032 11.4079 6.79671 11.1242 6.89551 10.9031C6.97616 10.7228 7.1612 10.5698 7.39258 10.5671L7.49414 10.5759Z" fill="black" stroke="black" stroke-width="0.508504"></path>
                    </svg>
                </div>Free & Easy Returns
            </li>
        </ul>

        <div class="faq">
            <details open>
                <summary>PRODUCT DESCRIPTION</summary>
                <p>The Classic Lip is a lightweight, richly pigmented lipstick with a satin finish. It features peptides and vitamin E to smooth and condition your lips. Available in 12 shades from neutral to bold, it’s the kind of classic that never goes out of style.
                    <p>(3.4g / 0.12 oz)</p>
                </p>
            </details>
            <details>
                <summary>HOW TO USE</summary>
                <p>Apply to your lips directly out of the tube or with a brush, starting in the center of your bottom lip and working your way out to the edges. Smack your lips together to transfer the color to your top lip.</p>
            </details>
            <details>
                <summary>INGREDIENTS</summary>
                <strong>PEPTIDE</strong>
                <p>Skin-conditioning peptide made up of 3 amino acids (glycine, lysine, and histidine) that improves appearance of the skin/lips by looking smoother, firmer, and reducing the appearance of fine lines.</p>
            </details>
        </div>

        <h2 class="product__creator-section-title">Created by</h2>
        <div class="product__creators">
            {% assign creators = product.metafields.custom.creators.value %}
            {% for creator in creators %}
            <div class="product__creator">
                <div class="product__creator-image">
                    <img src="{{ creator.photo |  image_url: width: 200 }}">
                </div>
                <p class="product__creator-name">{{ creator.name }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

</section>

<style>
    .product__creators {
        display: flex;
        gap: 1rem;
    }

    .product__creator {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .25rem;
    }

    .product__creator-section-title {
        font-weight: 500;
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: .5rem;
    }

    .product__creator-image {
        width: 100px;
        height: 100px;
        border-radius: .25rem;
        overflow: hidden;
    }

    .product__creator-name {}

    section {
        margin: 1rem;
        display: flex;
        gap: 1rem;
    }

    .sub-section {
        display: flex;
        max-width: 60%;
        gap: 1rem;
    }

    .product-images-carousel {
        max-width: 20%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }

    .preview-image-container {
        max-width: 150px;
        max-height: 150px;
        border: 1px solid transparent;
        display: flex;
    }

    .preview-image-container:hover {
        border: 1px solid gray;
        cursor: pointer;
    }

    .preview-image-container.active {
        border: 1px solid gray;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .main-product-image {
        max-width: 85%;
        height: fit-content;
        overflow: hidden;
    }

    .product-details {
        max-width: 40%;
        width: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }

    .star-icon-container {
        max-width: 20px;
        max-height: 20px;
    }

    .ratings {
        display: flex;
        gap: 2px;
        align-items: center;
        margin-top: 0.5rem;
    }

    .ratings>p {
        font-size: 0.8rem;
        margin-left: .5rem;
    }

    .mini-desc {
        color: gray;
        font-size: .85rem;
        margin-top: 1rem;
    }

    .mini-desc>span {
        color: #000;
    }

    .product-details>form button {
        display: flex;
        gap: 1px;
        width: 100%;
        background: transparent;
        outline: none;
        margin-top: 1rem;
        border: 0;
        cursor: pointer;
        text-wrap: nowrap;
    }

    .product-details>form button>span:first-child {
        background: #000;
        color: #fff;
        flex: 1;
        text-align: center;
        padding: .75rem;
        border-radius: .25rem 0 0 .25rem;
        position: relative;
        transition: all .3s ease-in-out;
        border: 1px solid #000;
    }

    .product__price {
        background: #000;
        padding: .75rem;
        color: #fff;
        border-radius: 0 .25rem .25rem 0;
        border: 1px solid #000;
        transition: all .3s ease-in-out;
    }

    .product-details>form button:hover span {
        color: #000;
        background: #fff;
    }

    .product-details>ul {
        margin-top: 2rem;
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .product-details>ul li {
        display: flex;
        font-size: .85rem;
        gap: 1rem;
        align-items: center;
    }

    .faq {
        margin-top: 2rem;
    }

    details {
        cursor: pointer;
        border-bottom: 1px solid gray;
    }

    summary {
        list-style: none;
        padding: 1rem 0;
        font-size: 1.2rem;
        font-weight: 500;
    }

    details>p {
        padding: .5rem 0;
    }

    .product__variant-select-container {
        margin-top: 2rem;
        border: 1px solid #000;
        width: fit-content;
        padding-right: 1rem;
        border-radius: .25rem;
    }

    .product__variant-select {
        display: block;
        padding: 1rem;
        border: 0;
        outline: 0;
        border-radius: .25rem;
    }

    .product__reviews {
        cursor: pointer;
    }

    .product__reviews:hover {
        text-decoration: underline;
        text-underline-offset: .5rem;
    }

    @media (max-width: 1024px) {
        .sub-section {
            flex-direction: column-reverse;
        }

        .product-images-carousel {
            flex-direction: row;
            max-width: 100%;
        }

        .main-product-image {
            max-width: 100%;
        }

    }

    @media (max-width: 768px) {
        section {
            flex-direction: column;
        }

        .sub-section {
            max-width: 100%;
        }

        .product-details {
            max-width: 100%;
        }
    }
</style>

<script>
    const preview_images = document.querySelectorAll('.preview-image-container')
    const main_image = document.querySelector('.main-image-container img')

    let activePreview = preview_images[0];
    let DEFAULT_IMAGE = activePreview.querySelector('img').src.replace(/width=\d+/, 'width=800');

    main_image.src = DEFAULT_IMAGE;
    activePreview.classList.add('active');

    ['mouseover', 'mouseout', 'click'].forEach(eventType => {
        preview_images.forEach(image => {
            image.addEventListener(eventType, (e) => {
                if (e.target.tagName !== 'IMG') return;

                const src = e.target.src.replace(/width=\d+/, 'width=800');

                switch (e.type) {
                    case 'mouseover':
                        main_image.src = src;
                        break;

                    case 'click':
                        DEFAULT_IMAGE = src;

                        if (activePreview && activePreview !== image) {
                            activePreview.classList.remove('active');
                        }

                        image.classList.add('active');
                        activePreview = image;

                        break;

                    default:
                        main_image.src = DEFAULT_IMAGE;
                        break;
                }
            })
        })
    })

    const variantSelect = document.querySelector('.product__variant-select');
    const priceElement = document.querySelector('.product__price');

    variantSelect.addEventListener('change', function() {
        const selectedOption = variantSelect.options[variantSelect.selectedIndex];
        const price = selectedOption.getAttribute('data-price');

        console.log(price)
        priceElement.textContent = `$${price}`;
    });

    document.addEventListener("DOMContentLoaded", () => {
        fetch('/cart.js').then(res => res.json()).then(data => console.log(data));
    })
</script>